body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #C7F9CC
}

h1 {
  color: black;
  font-size: 20px;
}

.row-2 {
  width: 100%;
  display: flex;
  gap: 30px;
  padding-bottom: 20px;
}
.management-table {
  width: 100%;
}

.table-header {
  background-color: #80ED99;
  height: 30px;
}

.new-button {
  background-color: #57CC99;
  width: 80px;
  height: 40px;
  font-size: 12px;
  text-align: center;
}
